 <script type="text/ng-template" id="deleteContent.html">
    <div ng-include="'tpl/modal/modal_delete.html'"></div>
</script>
<script type="text/ng-template" id="successContent.html">
    <div ng-include="'tpl/modal/modal_success.html'"></div>
</script>
<script type="text/ng-template" id="rejectContent.html">
    <div ng-include="'tpl/modal/modal_reject.html'"></div>
</script>
<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n font-bold h2 title">Gestion des Transporteurs </h1>
</div>

<div class="row">
  <div class="col-sm-6">
      <div class="panel-heading font-bold">
      Ajouter un Transpoteur
      </div>
      <div class="panel-body">
        <div class="panel card wrapper">
          <form name="step1" class="form-validation" >
            <md-input-container>
              <label for="content"><strong>Nom Transporteur</strong> </label>
              <input type="text" id="content" name="transporteur.nom_transporteur" ng-model="transporteur.nom_transporteur " required>
            </md-input-container>
            <md-input-container>
              <label for="content"><strong>Code Transporteur</strong> </label>
              <input type="text" id="content" name="transporteur.code_transporteur"  ng-model="transporteur.code_transporteur" required>
            </md-input-container>
            <md-input-container>
              <md-select  ng-model="transporteur.type_transporteur" required ng-init="type_transporteurs" placeholder="Type de transporteur">
                <md-option ng-repeat="transporteur in type_transporteurs" value="{{transporteur.type_transporteur}}">{{transporteur.type_transporteur}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <md-select  ng-model="transporteur.station" required ng-init="station()" placeholder="Station">
                <md-option ng-repeat="station in stations track by $index" value="{{station.nom_station}}">{{station.nom_station}}</md-option>
              </md-select>
            </md-input-container>
             <md-input-container>
              <md-select  ng-model="transporteur.produit" required ng-init="produit()" placeholder="Produit">
                <md-option ng-repeat="produit in produits track by $index" value="{{produit.nom_produit}}">{{produit.nom_produit}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label for="content"><strong>Prix Transporteur</strong> </label>
              <input type="number" id="content"  name="transporteur.prix_transporteur"  ng-model="transporteur.prix_transporteur" required>
            </md-input-container>
          
            <div class="m-t m-b">
              <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="addTransporteur()">Ajouter</button>
            </div>
          </form>
        </div>
        
      </div>
  </div>
  <div class="col-sm-6">
      <div class="wrapper-md">
        <h4>Liste des Transporteurs</h4>
        <table  ng-init="transporteurs"  class="table table-bordered table-hover  bg-white-only">
          <tr style="font-weight: bold">
            <td style="width:35%">Nom Transporteur</td>
            <td style="width:35%">Code Transporteur</td>
            <td style="width:35%">Type Transporteur</td>
            <td style="width:35%">station</td>
            <td style="width:35%">Produit</td>
            <td style="width:35%">Prix Transporteur</td>

          </tr>
          <tr  ng-repeat="transporteur in transporteurs  track by $index">
            <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span   e-name="transporteur.nom_transporteur" e-form="rowform"  e-required>
                {{ transporteur.nom_transporteur | uppercase  }}
              </span>
            </td>
            <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span   e-name="code_transporteur" e-form="rowform"  e-required>
                {{ transporteur.code_transporteur | uppercase }}
              </span>
            </td>
            <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span   e-name="type_transporteur" e-form="rowform"  e-required>
                {{ transporteur.type_transporteur | uppercase  }}
              </span>
            </td>
            
             <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span  e-name="transporteur.station" e-form="rowform"  e-required>
                {{ transporteur.station | uppercase  }}
              </span>
            </td>
            <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span  e-name="transporteur.produit" e-form="rowform"  e-required>
                {{ transporteur.produit | uppercase  }}
              </span>
            </td>
            
            <td class="v-middle">
              <!-- editable username (text with validation) -->
              <span   e-name="prix_transporteur" e-form="rowform"  e-required>
                {{ transporteur.prix_transporteur | uppercase  }}
              </span>
            </td>

            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform"  ng-show="rowform.$visible" onbeforesave="savePatient($data, patient.id_patient)" class="form-buttons form-inline" shown="inserted == patient">
               
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
               
                <button class="btn btn-sm btn-danger" ng-click="">del</button>
              </div>
            </td>
          </tr>
        </table>
          <div class="line line-dashed"></div>

          <div class="" >
            <a class="btn  btn-primary" ng-click="Envoyer()">ENVOYER</a>
          </div>
      </div>
  </div>
</div>
    

    
